html {
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
body{
  background-color: #EEEEEEEE;
  margin: 1px;
  height: 99%;
  display: flex;
}
#time_display{
  font-family: 'Noto Sans JP',
  sans-serif;
  font-size: 20vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #444444;
  user-select: none;
}
#clock_container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  cursor: grab;
}

#windowInterface {
  display: flex;
  width: auto;
  margin-right: 3px;
  height: auto;
  position: absolute;
  z-index: 99999;
  z-index: 4;
  top: 0.5px;
  right: 0px;
  color: #444444;
  font-size: 100%;
  align-items: center;
  justify-content: center;
  transition: all 600ms 0s ease;
}
.button{
  margin: 3px;
  width: 100%;
}
.enable{
  color: #444444;
}
.unable{
  color: #909090;
}

#overlay_button {
  cursor: pointer;
  display: flex;
  align-items: center;
  
}

#close_button {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

#minimize {
  -webkit-app-region: no-drag;
  cursor: pointer;
  margin: auto;
  margin-bottom: 10px;
margin-right: 4px;
}
